<h1>Make your form here</h1>
<body>
<form method="post" action="/pirates">
    <p> Pirate </p>
    <label for="name"> Name </label>
    <input type="text" id="name" name="pirate[name]">
    <label for="height"> Height </label>
    <input type="text" id="height" name="pirate[height]">
    <label for="weight"> Weight </label>
    <input type="text" id="weight" name="pirate[weight]">
    <p> Ship 1 </p>
    <label for="name"> Name </label>
    <input type="text" id="ship_name_1" name="pirate[ships][][name]">
    <label for="type"> Type </label>
    <input type="text" id="ship_type_1" name="pirate[ships][][type]">
    <label for="booty"> Booty </label>
    <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
    <p> Ship 2 </p>
    <label for="name"> Name </label>
    <input type="text" id="ship_name_2" name="pirate[ships][][name]">
    <label for="type"> Type </label>
    <input type="text" id="ship_type_2" name="pirate[ships][][type]">
    <label for="booty"> Booty </label>
    <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
    <input type="submit" value="Submit">

</form>
</body>
